body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #fffc68;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
}

nav {
    background: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #fffc68;
}

.container {
    padding: 30px;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 70%;
    background: white;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 12px;
}

th {
    background: #4CAF50;
    color: white;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

.form-box {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}