body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    background: #ff9800;
    color: white;
    padding: 15px;
}

form {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button {
    background: #ff9800;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background: #e68900;
}